body {
  background-color: rgba(0, 82, 153, 0.5);
  width: 100vw;
  height: 100vh;
  margin: 150px auto 0;
}

h1 {
  text-align: center;
  margin: 20px;
}

h2 {
  font-size: 1.75em;
}

#task-container {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
}

.block {
  width: 150px;
  height: 250px;
  background: rgba(0, 82, 153, 0.9);
  display: flex;
  border-radius: 8px;
  border: 1px solid rgba(0, 82, 153, 0.5);
  justify-content: flex-start;
  align-items: center;
  padding: 5px 0;
  flex-direction: column;
}

.pending-title {
  color: rgb(185, 196, 30);
}

.doing-title {
  color: rgba(148, 150, 238, 0.918);
}

.done-title {
  color: rgb(12, 173, 12);
}

.task-input {
  width: 9em;
  height: 1.5em;
  padding: 4px;
  border: 2px solid rgba(3, 18, 32, 0.5);
  border-radius: 5px;
}

li {
  appearance: none;
}
