::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.3);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.5);
}

body {
  background-color: rgba(0, 82, 153, 0.5);
  width: 100vw;
  height: 100vh;
  margin: 250px auto 0;
  overflow: hidden;
}

h1 {
  text-align: center;
  margin: 20px;
}

h2 {
  font-size: 1.5em;
}

#task-container {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
}

.block {
  width: 150px;
  height: 250px;
  background: rgba(0, 82, 153, 0.9);
  display: flex;
  border-radius: 8px;
  border: 1px solid rgba(0, 82, 153, 0.5);
  justify-content: flex-start;
  align-items: center;
  padding: 5px 0;
  flex-direction: column;
}

.block:hover {
  border: 1px solid yellow;
}

.pending-title {
  color: rgb(223, 236, 40);
}

.doing-title {
  color: rgb(148, 238, 238);
}

.done-title {
  color: rgb(18, 231, 18);
}

.task-input {
  width: 9em;
  height: 1.5em;
  padding: 4px;
  border: 2px solid rgba(3, 18, 32, 0.5);
  border-radius: 5px;
  background-color: rgb(158, 217, 240);
  color: black;
}

ul {
  padding: 5px;
  margin: 10px 0 0 0;
  list-style: none;
  overflow-y: auto;
}

li {
  display: flex;
  width: 7em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 2px;
  background: rgba(67, 180, 233, 0.671);
  margin: 2px;
  border-radius: 3px;
  align-items: center;
  justify-content: space-between;
}

li:hover {
  background-color: yellow;
}

button {
  background: none;
  border: none;
  color: rgb(194, 111, 111);
  margin: 0;
  padding: 0;
  text-align: end;
}

button:hover {
  font-weight: bold;
  color: rgb(255, 0, 0);
}
